In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import pymysql
from sqlalchemy import create_engine
import getpass
password=getpass.getpass()

········

In [5]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/songs'
engine = create_engine(connection_string)

query = '''
        select * from billboard100;
        '''

billboard100 = pd.read_sql_query(query, engine)
billboard100

,Song,Artist
0,We Can't Be Friends (Wait For Your Love),Ariana Grande
1,Lose Control,Teddy Swims
2,Beautiful Things,Benson Boone
3,Carnival,Â¥$: Ye & Ty Dolla $ign Featuring Rich The Kid...
4,Lovin On Me,Jack Harlow
...,...,...
95,Back Then Right Now,Tyler Hubbard
96,Tourniquet,Zach Bryan
97,Outskirts,Sam Hunt
98,Worth It,Offset & Don Toliver
99,Fuk Sumn,Â¥$: Ye & Ty Dolla $ign

In [6]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/songs'
engine = create_engine(connection_string)

query = '''
        select * from othersongs;
        '''

othersongs = pd.read_sql_query(query, engine)
othersongs

,Song,Artist
0,The Carnegie Hall Concert,Alice Coltrane
1,Tigers Blood,Waxahatchee
2,Glasgow Eyes,The Jesus and Mary Chain
3,LVL5 P2,Bktherula
4,Bright Future,Adrianne Lenker
...,...,...
1195,Blue Angeles,Haux
1196,Everything I Thought It Was,Justin Timberlake
1197,Deep Sage,Gouge Away
1198,"The ADDENDUM - i was mature for my age, but i ...",grouptherapy.
1199,"Fine Ho, Stay",Flo Milli

In [12]:
song_artist=input('Write here song and artist:')

Write here song and artist:We Can't Be Friends (Wait For Your Love), Ariana Grande

In [32]:
def recommendation(song_name, artist_name):
    if (song_name, artist_name)  in zip(billboard100['Song'],billboard100['Artist']):
        return billboard100.sample().iloc[0]
    else:
        return othersongs.sample().iloc[0]

In [35]:
song_name=input('Write here song:')
artist_name=input('Write here artist:') 

recommendation(song_name, artist_name )

Write here song:The Carnegie Hall Concert
Write here artist:Ariana Grande

Song        Bright Future
Artist    Adrianne Lenker
Name: 1168, dtype: object

In [ ]:
"The Carnegie Hall Concert", 'Ariana Grande'